<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AyaaN's Site</title>
</head>
<body>
<h1>Hi This is Text Analyzer.<br>Type your text here.</h1>
<form  action="/analyze" method="get">
    <textarea name='text' style='margin: 0px; width: 607px; height: 109px;'></textarea><br>
    <input type="checkbox" name="analyze">Remove Punctuations<br>
    <input type="checkbox" name="capitalise">CAPITALISE<br>
    <input type="checkbox" name="charcount">Count Character<br>
    <button type="submit">Analyze now</button>
</form>
</body>
</html>